.btn-primary,
.btn-secondary {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  display: inline-block;
  line-height: 4.8rem;
  padding: 0 2.6rem;
  border-radius: 12.2rem;
}

.btn-primary {
  background-color: $brand-yellow;
  color: #855B35;
  transition: background-color .3s;
  &:hover {
    background-color: #FFDC5C;
  }
}

.btn-secondary {
  border: 1px solid #00A5F0;
  background-color: transparent;
  color: $brand-light-blue;
  transition: all .3s;
  &:hover {
    background-color: $brand-light-blue;
    color: $white;
  }
  &.white {
    border: 1px solid $white;
    color: $white;
    &:hover {
      background-color: $white;
      color: $brand-green-light;
    }
  }
}

