// Brand Colors
$brand-blue: #0073CE;
$brand-light-blue: #00A5F0;
$brand-green-light: #00D7D7;
$brand-yellow: #FFC800;

// Gray Scale 
$gray-600: #33303E;
$gray-500: #4E4B59;
$gray-400: #5F5C6B;
$gray-300: #7A7786;
$gray-200: #C6C5CE;
$gray-100: #F1F0F5;

$white: #FFFFFF;
